.first_slider {
    width: 100%;
    position: relative;
    display: block;
    // min-width: 0;
}

.content_first_slider{
    // justify-content: space-between;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    // width: 100%;
    min-width: 0;
}

.second_slider{
    width: 100%;
    // display: flex;
}

.thirth_slider{
    width: 100%;
    min-width: 0;
    padding-bottom: 3.8em;
    
}

.container_first_slider{
    width: 100%;
    background-color: #ffffff;
}

.slider{
    padding: 0px 1.5em 6em;
    padding-bottom: 95px;
    background-color: #ffffff;
    display: flex;
}

.slider_block{
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 346px;
    width: 100%;
    // border: 2px solid red;
    margin: 0 auto;
    span {
        font-size: 24px;
        font-weight: bold;
        color: #686868;
        margin-top: 1.85em;
    }
    .line{
        max-width: 346px;
        width: 100%;
        height: 1px;
        background-color: #3498db;
        margin-bottom: 2.2em;
        margin-top: 0.95em;
    }
    p{
        font-family: 16px;
    }

    .text{
        font-size: 16px;
        font-family: sans-serif;
        padding: 0px 20px;
        text-align: center;
        line-height: 22px;
        color: #c7c7c7;
    }

}

.center_img{
    margin-right: auto;
    margin-left: auto;
}
.content_second_slider {
    text-align: center;
    padding-bottom: 6.9em;
    padding-top: 1.6em;
    z-index: -100;
}

.content_thirth_slider{
    text-align: center;
    display: flex;
    min-width: 0;
    padding-left: 4.4em;
    padding-top: 2.5em;
}

.text_second_slider{
    font-size: 16px;
    color: brown;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;

    h1{
        margin-bottom: 0.6em;
    }
    
    .name_student{
        // margin-top: 2.5em;
        text-align: center;
        color: #636363;
        span {

            font-style: italic;
            color:#bbbbbb;
        }
    }
    .text{

        width: 100%;
        min-height: 100%;
        position: relative;

        p{
            max-width: 880px;
            width: 100%;
            margin: 0 auto;
            font-size: 22px;
            text-align-last: center;
            text-indent: 1.5em;
        }

        .left_quote {
            float: left;
            // background-color: #c4c4c4;
            margin-top: -1.2em;
            max-width: 35px;
            max-height: 35px;
        }

        .right_quote{
            position: absolute;
            right: 0;
            bottom: 0;
            margin-bottom: -0.7em;
            max-width: 35px;
            max-height: 35px;
            // width: 100%;
            // height: 100%; 
        }

      
        
    }

}

.our_mentors_title_container{
    width: 100%;
    background-color: #ffffff;
    padding-top: 4.7em;
}

.our_mentors_title{
    font-size: 34px;
    color: #333;
    text-align: center;
    margin: 0 auto;
    font-family: "OpenSans-Regular", OpenSans, sans-serif;;
}

.our_mentors_container{
    width: 100%;
    background-color: #ffffff;
}


.text_thirth_slider{
    line-height: 1.6;
    font-family: "OpenSans-Light", OpenSans, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: #888;
    margin-left: 100px;

    .line {
        max-width: 670px;
        width: 100%;
        background-color: #bdbdbd;
        height: 1px;
        margin-bottom: 1.3em;
    }
    p{
        text-align: left;
        margin: 0 0 10px;
        max-width: 670px;
        width: 100%;
    }
}

.name_mentors{
    margin-right: auto;
    margin-bottom: 10px;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #3498db;
}
.slick-slider{}

.slick-list 
{
    overflow: hidden;
}

.slick-track
{
    display: flex;
}

.slick-arrow
{
    // display: none;
    // font-size: 0;
}

 .slick-arrow.slick-prev
{

} 

.slick-arrow.slick-next
{
  
}


.slick-arrow.slick-disabled{}

.slick-dots{}

.slick-dots li{}

.slick-dots li.slick-active{}


.slick-dots li button{}




// Точки до другого слайдера
.second_slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second_slider .slick-dots li{
    list-style-type: none;
    margin-right: 10px;
}

.second_slider .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #b3b3b3;
    border-radius: 50%;
    border: none;
}
.slick-dots li.slick-active button{
    background-color: #666666;
 }

.thirth_slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirth_slider .slick-dots li{
    list-style-type: none;
    margin-right: 10px;
}

.thirth_slider .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #b3b3b3;
    border-radius: 50%;
    border: none;
}

.thirth_slider .slick-dots li.slick-active button{
    background-color: #666666;
 }


 .first_slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_slider .slick-dots li{
    list-style-type: none;
    margin-right: 10px;
}

.first_slider .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #b3b3b3;
    border-radius: 50%;
    border: none;
}

.first_slider .slick-dots li.slick-active button{
    background-color: #666666;
 }

//  @media (max-width:767px){
//     .text_second_slide .text .left_quote {
//         width: 15px;
//         height: 15px;
//         // width: 100%;
//         // height: 100%;
//     }
// }