
.header__nav {
    display: block;  
}

.header__menu {
    display: flex;
    font-family: "open_sans_regular", sans-serif;
    left: 0;
    z-index: 2;
    width: 100%;
}

.header__menu li {
    list-style: none;
    font-size: 14px;
    font-family: "open_sans_regular",sans-serif;
    color: #adc4d7;
    text-transform: uppercase;
    text-decoration: none;
}


.menu-burger__header {
    width: 0;
    height: 0;
    display: none;
}


.header__menu ul {
    font-family: "open_sans_regular", sans-serif;
}


li a span{
    color: #6f6a91;
    margin-left: 15px;
    margin-right: 15px;

    &:hover:first-child{
        color: #349ae0;
        background-color: #eeeeee;
        padding: 5px;
        transform:scale(1.1);
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width:1220px){
    .container{
        max-width: 970px;
    }
    
    .first_form {
        input[type=submit]{
            margin-left: 80px;
        }
    }
}


@media (max-width:992px){
    .container{
        max-width: 750px;
    }

    .description_content{
        display: flex;
        flex-direction: column;
    }

    .description_block{
        margin: 0 auto;
        width: 100%;
        
        .description_text{

            margin: 0 auto;

            h1{
                font-size: 22px;
                font-family: "open_sans_regular", sans-serif;
                color: #333;
                text-align: center;
                margin: 35px auto 20px auto;
                padding: 0 20px;
            }
            p{
                padding-left: 20px;
                padding-right: 20px;
                box-sizing: border-box;
                width: 100%;
                margin: 0 auto;
            
            }

        }

        

    }

    .first_form{
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

        input {
            max-width: 95%;
        }

        input[type=submit]{
            margin-left: 50px;
        }
    }

    .content_thirth_slider{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        .name_mentors {
            text-align: center;
            margin: 0 auto;
        }
        img {
            margin: 0 auto;
        }

        .text_thirth_slider {}
    }

}

@media (max-width:615px){
    .first_form{
        form{
            input{
                max-width: 585px;
        }
}
    }
}

@media (max-width:1020px){
    .video_size{
        max-width: 1019px;
        width: 100%;
    }
    
    iframe {
        width: 1020px;
        max-width: 100%;
        height: 400px;
        max-height: 100%;
    }
}

@media (max-width:600px){
    iframe {
        height: 190px;
        max-height: 100%;
    }
}


@media (max-width:767px){
        .container{
            max-width: none;
            padding-left: 0px;
            padding-right: 0px;
        }

        .second_slider {
            .text {
                padding-left: 15px;
                padding-right: 15px;
                box-sizing: border-box;
                
            }
        }
        .left_quote {
            width: 15px;
            height: 15px;
            // margin-left: 15px;
        }

        .right_quote {
            width: 15px;
            height: 15px;
            margin-right: 15px;
        }
        .what_say_students{
            padding-left: 15px;
            padding-right: 15px;
        }

        .first_form{
            input[type=submit]{
                margin-left: 10px;
            }
        }

        .content_thirth_slider {
            .text_thirth_slider {
                margin-top: 25px;
            }
        }

        .second_slider{
            .content_second_slider{
                .text_second_slider{
                    .text{
                        p{
                            font-size: 14px;
                            line-height: 1.5;
                            font-family: "open_sans_light" sans-serif;
                        }}}}}
            
        
        .container {
            .what_say_students{
                font-family: "open_sans_regular", sans-serif;
                font-size: 24px;
            }
        }

        .course{
            .course_content{
                padding: 40px 30px 10px 30px;
                flex-direction: column;
                .course_main_block{
                    width: 100%;
                }
                
                .course_main_block {
                    margin-bottom: 30px;
                }

            .course_block{

                img {
                    width: 75px;
                    height: 62px;
                }
                
                .center_img{
                    margin-bottom: 20px;
                }
                .text_number{
                    margin-bottom: 15px;
                }

            }
        }
    }

        .contacts_container{
            .contacts_content {
                flex-direction: column;
                padding: 40px 20px 35px 20px;

                .main_contacts_block {
                    width: 100%;
                    margin-bottom: 25px;
                }
            }
        
}
}




.wrapper
{
    
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}


.container
{
    max-width: 1220px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.header_content{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    align-items: center;
}

.header__list{
    display: flex;
}

.header__list li{
    list-style: none;

}
.header_burger span {
    width: 0;
    height: 0;
}

.burger_logo{
    width: 0;
    height: 0;
}

header
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-sizing: border-box;
}

.logo_oxit
{
    margin-top: 10px;
    margin-bottom: 7px;
    position: relative;
    z-index: 5;
}

.menu
{
    margin-left: auto;
    padding: 0px;
    font-size: 16px;

    span {
        background-color: #337ab7;
        color: white;
        border-radius: 10px;
        padding: 11.5px 20px;
        cursor: pointer;
    }
}

.menu ul
{
    display: flex;
    
}


.description_block
{
   margin-top: auto;
   max-width: 610px;
   width: 100%;
   padding-bottom: 7.150em;
   padding-right: 3.5em;

}

.description_text
{
    max-width: 535px;
    width: 100%;
    float: right;
    display: block;
    word-break: break-all;
    margin-top: auto;
    color: #666;
    font-family: 'open_sans_regular', sans-serif;
    h1{
        font-weight: bolder;
    }
    p{
        font-size: 16px;
        max-width: 490px;
        width: 100%;
        margin: 0 auto;
        line-height: 32px;
        font-family: 'open_sans_regular', sans-serif;
        font-weight: lighter;
        color: #666;
        letter-spacing: 0.6px;
        font-weight: 300;
        text-align: center;
    }
    
}


.description_text h1
{
    color: #333333;
    font-size: 32px;
    margin-left: 20px;
}

.description{
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 100px;
    padding-right: 15px;
}

.description_content{
    display: flex;
    width: 100%;
    overflow: hidden;
}

form {
    max-width: 590px;
    width: 100%;
    margin: 0 auto;

    input{
        max-width: 95%;
        width: 95%;
        padding: 15px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #bababa;
        box-sizing: border-box;
    }

    input:focus{
        border: 1px solid transparent;   
        box-shadow: 0 0 6px dodgerblue;
        outline-color: #ffffff; 
    }
   
  
}
.first_form
{
    margin-left: auto;
    max-width: 590px;
    width: 100%;
    margin-top: 50px;
    
 

    a {
        color: #9ea5c8;
        text-decoration: none;
    }
    span{
        color: red;
        
    }
  
    input[type=checkbox]{
        float: left;
        width: auto;
        margin-top: auto;
        
    }
    h2{
        font-family: 'open_sans_regular', sans-serif;
        font-weight: bolder;
        font-style: normal;
        font-size: 22px; 
    }
    
    p{
        margin-bottom: 0.5em;
        color: none;
        display: block;
        font-family: "open_sans_light", sans-serif;
        font-size: 16px;
        color: #666;
    }
    
    .checkbox{
        margin-top: 1.4em;
    
    }

    input[type=submit]{
        background-color: #337ab7;
        color: white;
        border-radius: 30px;
        max-width: 368px;
        margin: 2.5em 0px 1.5em 100px;
        cursor: pointer;
       
    }

}

a {
    color: white;
    text-decoration: none;
}

.slider_title{
    background-color: #ffffff;   
    width: 100%;
    padding-top: 4.7em;
    padding-bottom: 2.5em;
}

.title{
    text-align: center;
    font-size: 32px;
}


.course{
    width: 100%;
    background-color: #3498db;
    margin-top: 95px;
  
}

.course_content{
    display: flex;
    width: 100%;
    flex-direction: wrap;
    flex-wrap: wrap;
    padding:  5.6em 4.7em 5em 4.7em;
}


.course_main_block{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.course_block{
    display: flex;
    width: 50%;
    flex-direction: column;
    color: #ffffff;

    img {
        width: 75px;
        height: 62px;
    }

    .center_img{
        margin-bottom: 2.5em;
    }

    .text_number{
        font-size: 28px;
        color: #fbfbfc;
        margin-bottom: 1.3em;
        text-align: center;
        font-family: "open_sans_light", sans-serif;
    }

    .text{
        font-size: 16px;
        color: #fbfbfc;
        text-align: center;
        font-family: "open_sans_light", sans-serif;
    }
}

.container_second_slider{
    width: 100%;
    background-color: #ffffff;
}

.what_say_students{
    font-family: "open_sans_regular", sans-serif;
    margin: 0 auto;
    text-align: center;
    color: #333333;
    font-size: 34px;
    text-decoration: none;
}

.container_what_say_students{
    width: 100%;
    background-color: #ffffff;
    margin: 65px 0 5px;
}

.video_container{
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 4.7em;
}

.video_content {
    max-width: 1220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.video_title{
    color: #333;
    font-size: 34px;
    margin: 0 auto;
    margin-bottom: 1.6em;
    font-family: "open_sans-regular", sans-serif;
}

.video_text{
    font-family: "open_sans_light", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.video{
    margin: 1.9em auto 4.1em auto;
}

.maps_container{
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    height: 100%;
}

.contacts_container{
    width: 100%;
    background-color: #3498db;
}

.contacts_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5em 5em;
}

.main_contacts_block{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.contacts_block{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    p{
        font-family: "open_sans_bold", sans-serif;
        font-size: 16px;
        color: white;
    }

    span{
        font-family: "open_sans_light", sans-serif;
        font-size: 14px;
        color: white;
    }

}

.contacts_icon{
    height: 100%;
    max-height: 55px;
    width: 100%;
    max-width: 55px;
    margin: 0 auto 1.25em auto; 
}

.contacts_mail_icon{

    height: 100%;
    max-height: 39px;
    width: 100%;
    max-width: 50px;
    margin: 0 auto 1.25em auto; 
}


.video_size{
    width: 1200px;
    height: 520px;
}

.location_img {
    width: 38px;
    height: 50px;
    margin: 0 auto 1.25em auto; 
}

.facebook_img{
    width: 28px;
    height: 50px;
    margin: 0 auto 1.25em auto; 
}

.email_img{
    width: 50px;
    height: 37px;
    margin: 0 auto 2.4em auto; 
}

footer {
    background-color: #f7f7f7;
    width: 100%;

    .footer_content{
        max-width: 1220px;
        padding: 50px 15px 34px 15px;
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    span {
        font-family: "open_sans-light", sans-serif;
        font-size: 16px;
        color: #337ab7;
    }

    a {
        color: #666;
    }
}
 
@media(max-width: 767px){

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header_content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__nav {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background: #645e5e; 
        box-shadow: #ccc;
        width: 100%;
        transition: all 0.4s ease;
        left:-110%;
    }
    .header__menu {
        display: block;
        background-color: #ffffff;
        width: 90%;
    }
    .header__nav.open-menu{
        left:0;
        padding-top: -20px;
        background-color: #ffffff;
     }
    .header__menu li { 
        margin-bottom: 30px;
        margin-left: -15%;
        text-align: center;
        font-family: "open_sans_regular", sans-serif;
        font-size: 14px;
        color: #666;
        }

    .header__menu ul {
        text-align: center;
        align-items: center;
        font-family: "open_sans_regular", sans-serif;
    }
    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
    }

    .description_content{
        padding-right: 15px;
        .description_text p {
            padding-right: 0px;
        }
    }

    .content_first_slider {
        padding-right: 15px;
    }
    

    .first_form{
        h2{
            font-family: "open_sans_regular",sans-serif;
            font-size: 22px;
            color: #333;
        }

        p{
            font-size: 14px;
        }

        label {
            font-size: 14px;
        }

        a {
            font-size: 14px;
        }
        input[type=checkbox]{
            margin-top: 10px;
        }
        input[type=submit]{
            margin-left: 40px;
        }
    }

    .description_text{
        overflow: break-all;
        
        p {
            font-size: 14px;
            text-align: center; 
            overflow: break-all;
        }
    }

    .title {
        color: gold;
        font-size: 24px;
        font-family: "open_sans_regular", sans-serif;
        font-size: 24px;
        color: #333;
    }

    .content_first_slider{
        .slider_block{
           .line{
               margin-top: 0px;
           }
        }
    }


   .content_thirth_slider{
      .text_thirth_slider {
        text-align: center;
        margin-left: 0;
     }
    }

    .course_block{
        word-break: break-all;
        .text{
            font-size: 14px;
        }
    }



 }

@media(max-width:480px){
    .thirth_slider{
        .content_thirth_slider{
            img{
                max-width: 150px;
            }
        }
    }

    .description_block{
        padding-bottom: 0px;
    }
    
    .first_form{
        input[type=submit]{
            margin-left: 5px;
         
        }

        h2 {
            font-size: 20px;
            letter-spacing: 0.6px;
        }

}

    .course{
        .course_content {
            padding-left: 15px;
            padding-right: 15px;
            .course_block{
                .text{
                    font-size: 12px;
                }
            }
        }




}}

.button_li{
    width: 146px;
    margin-top: -105px;
    display: inline-block;
    text-align: center;
    background-color: #337ab7;
    color: white;
    a {
        color: white;
    }
    box-sizing: border-box;
    border-radius: 10px;
    padding: 11.5px 20px;
    cursor: pointer;
    margin-left: 10px;
}
