@font-face {
    font-family: 'open_sans_light';
    src: url('fonts/OpenSans-Light.woff2') format('woff2'),
         url('fonts/opensans-light.woff') format('woff'),
         url('fonts/OpenSans-Light.ttf') format('ttf'),
         url('fonts/OpenSans-Light.svg') format('svg'),
         url('fonts/OpenSans-Light.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_bold';
    src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
         url('fonts/opensans-Bold.woff') format('woff'),
         url('fonts/OpenSans-Bold.ttf') format('ttf'),
         url('fonts/OpenSans-Bold.svg') format('svg'),
         url('fonts/OpenSans-Bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_regular';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
         url('fonts/opensans-Regular.woff') format('woff'),
         url('fonts/OpenSans-Regular.ttf') format('ttf'),
         url('fonts/OpenSans-Regular.svg') format('svg'),
         url('fonts/OpenSans-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
    font-family: 'open_sans_semibold';
    src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('fonts/opensans-SemiBold.woff') format('woff'),
         url('fonts/OpenSans-SemiBold.ttf') format('ttf'),
         url('fonts/OpenSans-SemiBold.svg') format('svg'),
         url('fonts/OpenSans-SemiBold.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}

.header__nav {
    // position: absolute;
    // float: right;
    display: block;
}

.header__menu {
    display: flex;
    position: relative;
    z-index: 2;
    // margin-left: auto;
    // float: right;

    span {
        background-color: #337ab7;
        color: white;
        a {
            color: white;
        }
        border-radius: 10px;
        padding: 11.5px 20px;
        cursor: pointer;
    }
}

// .header_menu ul{
//     margin-left: auto;
//     float: right;
// }
.header__menu li {
    list-style: none;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}


.menu-burger__header {
    width: 0;
    height: 0;
    display: none;
}

a {
    color: #666;
}

header li a {
    color: #666;
}
@media(max-width: 767px){

    .header__nav {
        display: block;
        position: absolute;
        top: 85px;
        left: 0;
        background: #ffffff;
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
        transition: all 0.4s ease;
        left:-100%;
    }
    .header__menu {
        display: block;
        margin-left: -60px;
     
    }
    .header__nav.open-menu{
        left:0;
    }
    .header__menu li {
        // margin: 40px 0px 40px 33px;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        font-family: "OpenSans-Regular", OpenSans, sans-serif;
        font-size: 14px;
        color: #666;
        }

    .header_menu ul {
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }
    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
    }
    .content-wrapper {
        margin-top: 48px;
    }
    .fixed-pade {
        overflow: hidden;
    }
}    

@media (max-width:1220px){
    .container{
        max-width: 970px;
    }
    
    .first_form {
        input[type=submit]{
            margin-left: 80px;
        }
    }

    .content_thirth_slider{
        display: flex;
        flex-direction: column;
    }

}


@media (max-width:992px){
    .container{
        max-width: 750px;
    }

    .description_content{
        display: flex;
        flex-direction: column;
    }

    .description_block{
        margin: 0 auto;
        width: 100%;
        
        .description_text{

            margin: 0 auto;

            h1{
                font-size: 24px;
                color: darkred;
                text-align: center;
                margin: 35px auto 20px auto;
                padding: 0 20px;
            }
            p{
                padding-left: 20px;
                padding-right: 20px;
                box-sizing: border-box;
                width: 100%;
                margin: 0 auto;
            }

        }

    }

    .first_form{
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

        input {
            max-width: 95%;
        }

        input[type=submit]{
            margin-left: 50px;
        }
    }


}

@media (max-width:615px){
    .first_form{
        form{
            input{
                max-width: 585px;
        }
}
    }
}

@media (max-width:1020px){
    .video_size{
        max-width: 1019px;
        width: 100%;
    }
    
    iframe {
        width: 1020px;
        max-width: 100%;
        height: 400px;
        max-height: 100%;
    }
}

@media (max-width:600px){
    iframe {
        height: 190px;
        max-height: 100%;
    }
}


    @media (max-width:767px){
        .container{
            max-width: none;
            .header_content{
                color:darkgreen;
            }
        }

        .left_quote {
            width: 15px;
            height: 15px;
        }

        .right_quote {
            width: 15px;
            height: 15px;
        }

        .first_form{
            input[type=submit]{
                margin-left: 10px;
            }
        }

        .text_second_slider .text p{
            // color: black;
            font-size: 14px !important;
            line-height: 1.5;
        }
        
        .what_say_students{
            font-family: "OpenSans-Regular", OpenSans, sans-serif;
            font-size: 24px !important;
        }
}




.wrapper
{
    
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}


.container
{
    max-width: 1220px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
   
  
}

.header_content{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    align-items: center;
}

.header__list{
    display: flex;
}

.header__list li{
    list-style: none;

}
.header_burger span {
    width: 0;
    height: 0;
}

.burger_logo{
    width: 0;
    height: 0;
}



header
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-sizing: border-box;
}

.logo_oxit
{
    margin-top: 10px;
    margin-bottom: 7px;
    position: relative;
    z-index: 5;
}

.menu
{
    margin-left: auto;
    padding: 0px;
    font-size: 16px;

    span {
        background-color: #337ab7;
        color: white;
        border-radius: 10px;
        padding: 11.5px 20px;
        cursor: pointer;
    }
}

.menu ul
{
    display: flex;
    
}

// .menu ul li 
// {
//     margin-left:40px;
//     list-style-type: none;
// }

.description_block
{
   margin-top: auto;
   max-width: 610px;
   width: 100%;
   padding-bottom: 7.150em;
   padding-right: 3.5em;

}

.description_text
{
    max-width: 535px;
    width: 100%;
    float: right;
    display: block;
    word-break: break-all;
    margin-top: auto;
    font-family: 'Open Sans', sans-serif;
    // margin-right: auto;
    h1{
        font-weight: bolder;
    }
    p{
        font-size: 18px;
        max-width: 490px;
        width: 100%;
        margin: 0 auto;
        line-height: 22px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
    }
    
}


.description_text h1
{
    color: #333333;
    font-size: 36px;
    // margin-bottom: 114px;
}

.description{
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 100px;
    padding-right: 15px;
}

.description_content{
    display: flex;
    width: 100%;
    overflow: hidden;
}

form {
    max-width: 590px;
    width: 100%;
    margin: 0 auto;
}
.first_form
{
    margin-left: auto;
    max-width: 590px;
    width: 100%;
    margin-top: 50px;

    a {
        color: #9ea5c8;
        text-decoration: none;
    }
    span{
        color: red;
        
    }
    input{
        max-width: 570px;
        width: 100%;
        padding: 15px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid #d8d8d8;
        box-sizing: border-box;
    }


        
    // }
    input[type=checkbox]{
        float: left;
        width: auto;
        margin-top: auto;
        
    }
    h2{
        font-weight: bolder;
        font-size: 18px;
    }
    
    p{
        margin-bottom: 0.5em;
        color: none;
    }
    
    .checkbox{
        margin-top: 1.4em;
    
    }

    input[type=submit]{
        background-color: #337ab7;
        // background-color: red;
        color: white;
        border-radius: 30px;
        max-width: 368px;
        // width: 100%;
        margin: 2.5em auto 1.5em auto;
        cursor: pointer;
    }

    input:focus{
        border: 10px transparent red;
        border-color: forestgreen;
    }
    
}

a {
    color: white;
    text-decoration: none;
}

.slider_title{
    background-color: #ffffff;   
    width: 100%;
    padding-top: 4.7em;
    padding-bottom: 2.5em;
}

.title{
    text-align: center;
    font-size: 32px;
}


.course{
    width: 100%;
    background-color: #3498db;
    margin-top: 95px;
  
}

.course_content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: wrap;
    flex-wrap: wrap;
  
    // justify-content: space-between;
    padding:  5.6em 4.7em 5em 4.7em;
}

.course_block{
    display: flex;
   
    width: auto;
    flex-direction: column;
    color: #ffffff;
    border: 2px solid red;

    .center_img{
        margin-bottom: 2.5em;
    }

    .text_number{
        font-size: 28px;
        font-weight: bolder;
        color: #fbfbfc;
        margin-bottom: 1.3em;
        text-align: center;
    }

    .text{
        font-size: 16px;
        color: #fbfbfc;
        text-align: center;
    }
}

.container_second_slider{
    width: 100%;
    background-color: #ffffff;
}

.what_say_students{
    margin: 0 auto;
    text-align: center;
    color: #333333;
    font-size: 34px;
    text-decoration: none;
}

.container_what_say_students{
    width: 100%;
    background-color: #ffffff;
    margin: 65px 0 5px;
}

.video_container{
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 4.7em;
}

.video_content {
    max-width: 1220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.video_title{
    color: #333;
    font-size: 34px;
    margin: 0 auto;
    margin-bottom: 1.6em;
}

.video_text{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.video{
    margin: 1.9em auto 4.1em auto;
}

.maps_container{
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    height: 100%;
}

.contacts_container{
    width: 100%;
    background-color: #3498db;
}

.contacts_content{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1220px;
    width: 100%;
    padding: 2.5em 5em;
}

.contacts_block{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    width: 100%;

    p{
        font-family: "OpenSans-Bold", OpenSans, sans-serif;
        font-size: 16px;
        color: white;
    }

    span{
        font-family: "OpenSans-Light", OpenSans, sans-serif;
        font-size: 14px;
        color: white;
    }

}

.contacts_icon{
    height: 100%;
    max-height: 55px;
    width: 100%;
    max-width: 55px;
    margin: 0 auto 1.25em auto; 
}

.contacts_mail_icon{

    height: 100%;
    max-height: 39px;
    width: 100%;
    max-width: 50px;
    margin: 0 auto 1.25em auto; 
}


.video_size{
    width: 1200px;
    height: 520px;
}



 
  